*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    background-color: #E7E7E9;
}
main{
    width: 100%;
    background-color: #E7E7E9;
    padding: 8px;
}
.sidebar{
    background: #003566;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    border-radius: 0px 15px 15px 0px ;
    

}
.top_section{
    display: flex;
    align-items:center;
    padding: '10px 5px 5px 5px'
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 20px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

/*Header */
.header{
    width: 1084px;
    height: 25px;
    background-color: white;
    padding: 5px;
    border-radius:5px;
    
}
.header-content {
    display: flex; /* Arrange children in a row */
    align-items: center; /* Center vertically */
}
.header-icon{
    align-items: center;  
}
.admin-image{
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Creates a circular effect */
    object-fit: cover; 
    padding: 0px 5px 0px 5px/* Maintain aspect ratio */
}
.admin-name {
    margin-left: 900px; /* Adjust spacing between name and image */
}

/* Dashboard */

.dashboard {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}


.ruhuna-details {
    display: flex;
    background-color: white;
    height: 150px;
    padding: 5px;
    border-radius:10px;
}

.ruhuna-details img {
    max-width: 80px; /* Adjust the image size as needed */
    height: 80px;
    padding:10px 10px 5px 30px;
}
