.modaccess{
    position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: rgb(236, 236, 236);

}

.module-access-container{
    position: relative;
  display: flex;
  width: 99%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 0.5% 0.5% 0.5%;
  padding: 0;
  flex-direction: column;
    
}
.access-path-style{
    margin-left: 25px;
    font-size: 12px;
}
.access-module-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #e8f4ff;
    width: auto;
    height: auto;
    margin: 15px 70px 20px 70px;
    border-radius: 15px;
    padding: 20px;

}
.access-topic-style{
    margin: 0px 0px 15px 25px;
    color: #072f75;
    font-weight: bold;
    font-size: larger;

}
.access-module-container{
    background:white;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}